.kelvin_logo {
    font-family: 'Poiret One', cursive;
}

.kelvin_footer_button {
    font-size: .6rem;
}

.kelvin_footer {
    text-align: center;
    margin-top: 2rem;
}

.kelvin_header {
    text-align:center; 
    margin: 2rem 0;
}